java-filmorate:
  logging.level:
    ru.yandex.practicum.filmorate: INFO
  logging:
    level:
      org:
        zalando:
          logbook: TRACE

spring:
  datasource:
    username: user
    password: password
    driver-class-name: orf.h2.Driver
    url: jdbc:h2:file:./db/fimorate
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true
