logging:
  level:
    ru.yandex.practicum.filmorate: INFO
    org.zalando.logbook: TRACE

spring:
  datasource:
    username: sa
    password:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:D:\Normandy\java_projects\database

  sql:
    init:
      mode: always

  h2:
    console:
      enabled: true