java-filmorate:
  logging.level:
    ru.yandex.practicum.filmorate: INFO
  logging:
    level:
      org:
        zalando:
          logbook: TRACE

spring:
  datasource:
    username: sa
    password: password
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true
